@{
    ViewBag.Title = "About";
}
<div>
    <ul class="nav">
        <li>@Html.ActionLink("推荐", "Index", "Music")</li>
        <li>@Html.ActionLink("歌手", "Singer", "Music")</li>
        <li>@Html.ActionLink("排行榜", "Ranking", "Music")</li>
        <li>@Html.ActionLink("歌单", "Songsheet", "Music")</li>
        <li>@Html.ActionLink("新碟上架", "Add", "Music")</li>
    </ul>
</div>

